.appearance-logo-preview {
  max-width: 400px;
  margin-bottom: 20px;
}

.appearance-light-logo-preview {
  background-color: $gray-light;
  max-width: 72px;
  padding: 10px;
  margin-bottom: 10px;
}

.svg-content {
  text-align: center;
  padding: $gl-padding;

  svg,
  img {
    max-width: 425px;
    width: 100%;
  }

  $image-widths: 80 130 250 306 394 430;
  @each $width in $image-widths {
    &.svg-#{$width} {
      img,
      svg {
        width: #{$width + 'px'};
      }
    }
  }
}

@mixin svg-size($size) {
  width: $size;
  height: $size;
}

svg {
  fill: currentColor;

  $svg-sizes: 8 10 12 16 18 24 32 48 72;
  @each $svg-size in $svg-sizes {
    &.s#{$svg-size} {
      @include svg-size(#{$svg-size}px);
    }
  }
}
